name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build binary
      run: cargo build --release --verbose --all-features
    - name: Run tests
      run: cargo test --verbose --all-features
    - name: Build documentation
      run: cargo doc --all-features

